<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
 <div class="container">
     <div class="row">
         <div class="col-sm-12">
             <div class="">
                 <div class="col-sm-10" id="header" style="background-color:red">
                     dfgdfgdfg
                 </div>
                 <div class="col-sm-10 " id="nav" style="background-color:yellow">
                     <div class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                             <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                             <li>@Html.ActionLink("O nas", "About", "Home")</li>
                             <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                             <li>@Html.ActionLink("Oferta", "Offer", "Home")</li>
                         </ul>
                         @Html.Partial("_LoginPartial")
                     </div>
     
                 </div>
                 <div class="col-sm-10" id="main" style="background-color:green">
                     
                     @RenderBody()
                 </div>
                 <div class="col-sm-10" id="footer" style="background-color:blue">
                     dfgdfgdfg
                 </div>

             </div>
         </div>
     </div>
 </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
